<ion-header>
  <ion-toolbar non-border>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content non-padding>
  <ion-grid style="max-width: max-content;">
    <ion-row >
      <ion-text *ngIf="slideIndex===0">1、输入邮箱或者手机号</ion-text>
    </ion-row>
    <ion-row>
      <ion-text  *ngIf="slideIndex===1">2、输入验证码</ion-text>
    </ion-row>
    <ion-row>
      <ion-text *ngIf="slideIndex===2">3、重置密码</ion-text>
    </ion-row>
    <ion-row>
      <ion-text *ngIf="slideIndex===3">4、返回登录</ion-text>
    </ion-row>
  </ion-grid>

  <ion-slides #forgotPasswordSlides>
    <ion-slide>
      <ion-list>
        <ion-item>
          <ion-label position="floating">邮箱/手机号</ion-label>
          <ion-input name="account" type="text" [(ngModel)]="account"></ion-input>
        </ion-item>
        <div class="ion-padding-horizontal">
          <ion-button expand="full" color="primary" (click)="checkAccount()">
            下一步
          </ion-button>
        </div>
      </ion-list>
    </ion-slide>

  <ion-slide>
    <ion-list>
      <ion-item>
        <ion-input slot="start" name="authcode" type="text" placeholder="请输入验证码" required
        pattern="\d{0,8}$" [(ngModel)]="verifyCode.code" #authcode="ngModel"></ion-input>
        <ion-button color="primary" expand="full" slot="end"
                    [disabled]="!verifyCode.disable" (click)="getCode()"
                  class="full-width">{{verifyCode.verifyCodeTips}}</ion-button>
      </ion-item>

      <ion-text text-left color="danger" *ngIf="authcode.invalid && authcode.touched">
        <p [hidden]="!authcode.errors?.pattern" padding-start>验证码格式不正确</p>
      </ion-text>
      <ion-text text-left color="danger" *ngIf="verifyCode.fail && authcode.touched">
        <p padding-start>验证码错误</p>
      </ion-text>
      <div class="ion-padding-horizontal">
        <ion-button expand="full" color="primary" (click)="checkCode()">
        <!-- <ion-button expand="full" color="primary" (click)="next()"> -->
            下一步
        </ion-button>
      </div>
      <div class="ion-padding-horizontal">
        <ion-button expand="full" color="primary" (click)="previous()">
          上一步
        </ion-button>
      </div>

    </ion-list>
    
  </ion-slide>

  <ion-slide>
    <form novalidate #information="ngForm" >
      <ion-list>
        <ion-item>
          <ion-input name="code" type="password" placeholder="输入新的登陆密码" required
                     pattern="[0-9a-zA-Z]{6,12}"
                     [(ngModel)]="password" #code="ngModel">
          </ion-input>
        </ion-item>
        <ion-text text-left color="danger" *ngIf="code.invalid && code.touched">
          <p [hidden]="!code.errors?.required" padding-start>请输入新的登入密码</p>
          <p [hidden]="!code.errors?.pattern" padding-start>密码格式错误</p>
        </ion-text>
        <ion-item>
          <ion-input name="surecode" type="password" placeholder="确认登陆密码" required
                     pattern="[0-9a-zA-Z]{6,12}"
                     [(ngModel)]="confirmPassword" #surecode="ngModel">
          </ion-input>
        </ion-item>
        <ion-text text-left color="danger" *ngIf="surecode.invalid && surecode.touched">
          <p [hidden]="!surecode.errors?.required" padding-start>请再次输入密码</p>
        </ion-text>
        <ion-text text-left color="danger" *ngIf="params.checkInformationResult">
          <p padding-start>两次密码不一致</p>
        </ion-text>
      </ion-list>
      <div class="ion-padding-horizontal">
        <ion-button expand="full" color="primary" [disabled]="information.invalid"
                    (click)="oncheckInformation()">
          确定重置
        </ion-button>
      </div>
      <div class="ion-padding-horizontal">
        <ion-button expand="full" color="primary" (click)="previous()">
          上一步
        </ion-button>
      </div>
    </form>
  </ion-slide>

  <ion-slide>
    <ion-grid>
        <ion-row class="fix-width">
            <ion-col>
                <h1>重置密码成功</h1>
            </ion-col>
        </ion-row>
        <ion-row class="fix-width" >
          <ion-col>
            <div class="ion-padding-horizontal" class="full-width">
                <ion-button expand="full" color="primary" (click)="gotoLoginPage()">
                    登陆
                </ion-button>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-slide>
</ion-slides>
<zzw-copyright [bottom]="'20px'"></zzw-copyright>
</ion-content>
