ion-list ion-item-divider{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .note1{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .note2{
    padding-top: 25px;
  }
  .note3{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
  }